@import "main";

.page-container {
  background-color: $color_accent;
  width: 100%;
  height: 100%;
}

.signup-header{
  display: flex;
  align-items: center;
}

.form-container {
  border-radius: 1em;
  border: $color_primary solid 0.19em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: $color_accent_light;
  width: 25%;
  
  a{
    color: white;
  }
}

.title {
  font-family: 'Metal Mania', cursive;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 3rem;
}

.from-title {
  text-align: center;
  font-family: 'Metal Mania', cursive;
  margin-top: 0.25em;
}

.inputs-container {
  display: flex;
  flex-direction: column;

  div {
    width: 100%;
  }

  p {
    text-align: center;
    font-size: 1.2rem;

    a {
      color: white;
    }
  }
}

.custom-input {
  border-radius: 0.35em;
  border-style: solid;
  border-width: 0;
  border-color: $color_primary_light;

  outline: none !important;

  padding-left: 1.1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  width: 95%;

  margin-top: 1em;
  margin-bottom: 0.5em;

  background-color: black;
  color: white;

  font-size: 1.1rem;
}

.custom-input:focus {
  outline: none;
  border: 0.126em solid $color_primary;
}

.submit-btn {
  background-color: $color_primary;
  border: none;
  border-radius: 2em;
  text-transform: capitalize;
  padding-bottom: 0.75em;
  padding-top: 0.75em;
  font-weight: bold;
  color: white;
  margin-top: 2em;
  margin-bottom: 1em;
  width: 100%;
  cursor: pointer;
  font-size: 1.2rem;
}
